@font-face {
  font-family: "jungle_adventurer";
  src: url("../assets/fonts/jungleadventurer-webfont.woff2") format("woff2"),
    url("../assets/fonts/jungleadventurer-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
